.nav {
    background-color: gray;
    padding: 20px 40px;
}

.nav__hamburger {
    display: block;
    width: 30px;
    height: 30px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;

    float: right;
}

.nav__hamburger::after {
    display: block;
    content: '';
    height: 5px;
    background-color: black;
    position: relative;
    top: 13px;
}

.nav__toggler {

}

.nav__list {
    display: none;
}

.nav__toggler:checked + .nav__list {
    display: block;

}