* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
}

img {
    max-width: 100%;
}

iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.p, .t, .v {
    border: 3px solid transparent;
    min-height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    border-color: #ffffba;
    order: 1;
    line-height: 0;
}

.t {
    border-color: #ffdfba;
    order: 2;
}

.v {
    border-color: #baffc9;
    order: 3;

    height: 0;
    padding-bottom: calc(315 / 560 * 100%);
    position: relative;
    width: 100%;
}

@media screen and (min-width: 600px) {
    body {
        grid-template-areas:
        "area-p area-t"
        "area-v area-t";
        grid-template-columns: minmax(200px, 50vw) auto;
    }

    .p {
        grid-area: area-p;
    }
    
    .t {
        grid-area: area-t;
    }
    
    .v {
        grid-area: area-v;
    }
    
}

@media screen and (min-width: 1200px) {
    body {
        margin: 0 auto;
        max-width: 1400px;
        grid-template-areas:
        "area-p area-v"
        "area-t area-t";
    }

}